!!!
%html
  %head
    %title Sam Kah Chiin
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    /[if lte IE 8] <script src="assets/js/ie/html5shiv.js"></script>
    %link{:href => "/css/main.css", :rel => "stylesheet"}/
    %link{:rel => "shortcut icon", :type => "image/png", :href => "images/favicon-64.png"}
    /[if lte IE 8] <link rel="stylesheet" href="assets/css/ie8.css" />
    /[if lte IE 9] <link rel="stylesheet" href="assets/css/ie9.css" />
  %body
    / Header
    %section#header
      %header.major
        %h1 Sam Kah Chiin
        %p
          Ruby on Rails Developer | Aws Solutions Architect Associate | Freelancer
      .container
        %ul.actions
          %li
            %a.button.special.scrolly{:href => "#one"} Begin
    / One
    %section#one.main.special
      .container
        %span.image.fit.primary
          %img{:alt => "", :src => "images/pic01.jpg"}
        .content
          %header.major
            %h2 Who is Sam?
          %p Hi, my name is Sam. I am a passionate, self-motivated person who is willing to take the initiatives to learn new knowledge beyond studies, |
          including coding, music, debate, and social entrepreneurship. |
          Being an avid backpacker,  I can readily adapts to new working environment and |
          has no problem to communicate with person. |
        %a.goto-next.scrolly{:href => "#two"} Next
    / Two
    %section#two.main.special
      .container
        .content
          %header.major
            %h2 Technologies
            .row
              .6u{:class => "12u$(medium)"}
                %h5 Days to days comfort
                %ul
                  %li Ruby on Rails / HAML
                  %li HTML5 / CSS / Sass
                  %li Javascript / JQuery / Knockout.js / Coffeescript
                  %li AJAX
                  %li Responsive Layout and Design
                  %li Version Control (GIT)
                  %li Agile Methodology
                  %li VIM
              %div{:class => "6u$ 12u(medium)"}
                %h5 Have Experience At
                %ul
                  %li Backbone.js / React.js
                  %li Amazon S3 / EC2
                  %li Grunt

        %a.goto-next.scrolly{:href => "#footer"} Next

    %section#three.main.special
      .container
        .content
          %header.major
            %h2 Portfolio

          .gallery
            %article.from-left
              %a.image.fit{:class => "6u$ 12u$(xsmall)", "data-content" => "Treehouse project", :href => "http://treehouse.samkahchiin.com/", "target" => "_blank"}
                %img{:alt => "", :src => "images/treehouse.jpg", :title => "The Anonymous Red"}

            %article.from-right
              %a.image.fit{:class => "6u$ 12u$(xsmall)", "data-content" => "Dharma Event", "href" => "https://youxinfahai.herokuapp.com/", "target" => "_blank"}
                %img{:alt => "Photo by Jenu Prasad on Unsplash", :src => "images/dharma-event.jpg", :title => "Airchitecture II"}/

            %article.from-left
              %a.image.fit{:class => "6u$ 12u$(xsmall)", "data-content" => "Treehouse project", :href => "http://treehouse.samkahchiin.com/", "target" => "_blank"}
                %img{:alt => "", :src => "images/treehouse.jpg", :title => "The Anonymous Red"}

            %article.from-right
              %a.image.fit{:class => "6u$ 12u$(xsmall)", "data-content" => "Dharma Event", "href" => "https://youxinfahai.herokuapp.com/", "target" => "_blank"}
                %img{:alt => "Photo by Jenu Prasad on Unsplash", :src => "images/dharma-event.jpg", :title => "Airchitecture II"}/
        %a.goto-next.scrolly{:href => "#footer"} Next

    %section#footer.main.special
      .container
        .content
          %header.major
            %h2 Get in touch
          %form{:action => "#", :method => "post"}
            .row.uniform
              .6u{:class => "12u$(xsmall)"}
                %input#first-name{:name => "first-name", :placeholder => "First Name", :type => "text", :value => ""}
              %div{:class => "6u$ 12u$(xsmall)"}
                %input#last-name{:name => "last-name", :placeholder => "Last Name", :type => "text", :value => ""}
              %div{:class => "12u$"}
                %input#email{:name => "email", :placeholder => "Email", :type => "email", :value => ""}
              %div{:class => "12u$"}
                %textarea#demo-message{:name => "demo-message", :placeholder => "Enter your message", :rows => "6"}
              %div{:class => "12u$"}
                %ul.actions
                  %li
                    %a.button{:href => "#"} Send Message

          %ul.icons-grid
            %li
              %span.icon.major.fa-camera-retro
              %h3 Website development
            %li
              %span.icon.major.fa-pencil
              %h3 Lorem Ipsum
            %li
              %span.icon.major.fa-code
              %h3 Nulla Tempus
            %li
              %span.icon.major.fa-coffee
              %h3 Sed Feugiat

      %footer
        %ul.icons
          %li
            %a.icon.fa-github{:href => "https://github.com/samkahchiin"}
              %span.label Github
          %li
            %a.icon.fa-linkedin{:href => "https://www.linkedin.com/in/kah-chiin-sam-618b2685/"}
              %span.label Linkedin
        %ul.copyright
          %li 2017 © Sam Kah Chiin. All right reserved.
          %li
            Design:
            %a{:href => "http://html5up.net"} HTML5 UP
          %li
            Background Images:
            %a{:href => "http://unsplash.com"} Unsplash
