!!!
%html
  %head
    %title Sam Kah Chiin
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    /[if lte IE 8] <script src="assets/js/ie/html5shiv.js"></script>
    %link{:href => "/css/main.css", :rel => "stylesheet"}/
    %link{:rel => "shortcut icon", :type => "image/png", :href => "images/favicon-64.png"}
    /[if lte IE 8] <link rel="stylesheet" href="assets/css/ie8.css" />
    /[if lte IE 9] <link rel="stylesheet" href="assets/css/ie9.css" />
  %body
    / Header
    %section#header
      %header.major
        %h1 Sam Kah Chiin
        %p
          Ruby on Rails Developer | Aws Solutions Architect Associate | Freelancer
      .container
        %ul.actions
          %li
            %a.button.special.scrolly{:href => "#one"} Begin
    / One
    %section#one.main.special
      .container
        %span.image.fit.primary
          %img{:alt => "", :src => "images/pic01.jpg"}
        .content
          %header.major
            %h2 Website Development
          %p I am able to provide agency service, without the agency price.          |
          I enjoy working with local businesses within Malaysia and Singapore area.  |
          Whether you are looking for creating a website or making a product protoype using web apps |
          it's worth to have a quick conversation with me to see what I can offer you |
        %a.goto-next.scrolly{:href => "#two"} Next
    / Two
    %section#two.main.special
      .container
        .content
          %header.major
            %h2 Technologies
            .row
              .6u{:class => "12u$(medium)"}
                %h5 Days to days comfort
                %ul
                  %li Ruby on Rails / HAML
                  %li HTML5 / CSS / Sass
                  %li Javascript / JQuery / Knockout.js / Coffeescript
                  %li AJAX
                  %li Responsive Layout and Design
                  %li Version Control (GIT)
                  %li Agile Methodology
                  %li VIM
              %div{:class => "6u$ 12u(medium)"}
                %h5 Have Experience At
                %ul
                  %li Backbone.js / React.js
                  %li Amazon S3 / EC2
                  %li Grunt

        %a.goto-next.scrolly{:href => "#footer"} Next

    %section#three.main.special
      .container
        %span.image.fit.primary
          %img{:alt => "", :src => "images/pic03.jpg"}/
        .content
          %header.major
            %h2 Portfolio
          %p Aliquam ante ac id. Adipiscing interdum lorem praesent fusce pellentesque arcu feugiat. Consequat sed ultricies rutrum. Sed adipiscing eu amet interdum lorem blandit vis ac commodo aliquet integer vulputate phasellus lorem ipsum dolor lorem magna consequat sed etiam adipiscing interdum.
        %a.goto-next.scrolly{:href => "#footer"} Next

    %section#footer.main.special
      .container
        .content
          %header.major
            %h2 Get in touch
          %form{:action => "#", :method => "post"}
            .row.uniform
              .6u{:class => "12u$(xsmall)"}
                %input#first-name{:name => "first-name", :placeholder => "First Name", :type => "text", :value => ""}
              %div{:class => "6u$ 12u$(xsmall)"}
                %input#last-name{:name => "last-name", :placeholder => "Last Name", :type => "text", :value => ""}
              %div{:class => "12u$"}
                %input#email{:name => "email", :placeholder => "Email", :type => "email", :value => ""}
              %div{:class => "12u$"}
                %textarea#demo-message{:name => "demo-message", :placeholder => "Enter your message", :rows => "6"}
              %div{:class => "12u$"}
                %ul.actions
                  %li
                    %a.button{:href => "#"} Send Message

          %ul.icons-grid
            %li
              %span.icon.major.fa-camera-retro
              %h3 Website development
            %li
              %span.icon.major.fa-pencil
              %h3 Lorem Ipsum
            %li
              %span.icon.major.fa-code
              %h3 Nulla Tempus
            %li
              %span.icon.major.fa-coffee
              %h3 Sed Feugiat

      %footer
        %ul.icons
          %li
            %a.icon.fa-github{:href => "https://github.com/samkahchiin"}
              %span.label Github
          %li
            %a.icon.fa-linkedin{:href => "https://www.linkedin.com/in/kah-chiin-sam-618b2685/"}
              %span.label Linkedin
        %ul.copyright
          %li 2017 © Sam Kah Chiin. All right reserved.
          %li
            Design:
            %a{:href => "http://html5up.net"} HTML5 UP
          %li
            Background Images:
            %a{:href => "http://unsplash.com"} Unsplash
